<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.ActorMapper">
	<select id="selectActorForCount"
			parameterType ="String"
			resultType="int">
		SELECT
			COUNT(*)
		FROM
			actor_info
		<where>
			<if test="#{searchWord} != null">
				CONCAT(first_name,' ',last_name) LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>		
	</select>
	
	<insert id = "insertActor"
			parameterType = "com.gd.sakila.vo.Actor">
		INSERT IGNORE INTO 
			actor_info (first_name, last_name)
			VALUES (UPPER(#{firstName}), UPPER(#{lastName}))
	</insert>
	
	<select id="selectActorInfoList"
			parameterType="com.gd.sakila.vo.Page"
			resultType="Map">
		SELECT
			actor_id actorId
			, CONCAT(first_name,' ',last_name) name
			, film_info filmInfo
			, film_info filmInfoNum
		FROM
			actor_info
		ORDER BY
			actor_id DESC
		<where>
			<if test="searchWord != null">
				CONCAT(first_name,' ',last_name) LIKE CONCAT('%',#{searchWord},'%')
			</if>
		</where>
		LIMIT
			#{beginRow}, #{rowPerPage} <!-- beginRow부터 시작해야한다. -->
	</select>

</mapper>