<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.FilmMapper">
	<select id ="selectStoreForCount"
			resultType="Integer"> <!-- 리스트는 안에 있는 속성으로... -->
		SELECT 
			store_id
		FROM 
			store;
	</select>
	
	<select id="selectFilmInStock"
			statementType="CALLABLE" 
			parameterType="int"
			resultType="Integer" >
		<!--  Map : filmId, storeId, filmCount (mode=OUT) -->
		{
		call 
			film_in_stock 
			(
			#{FID}
			,#{storeId}
			,#{count, mode=OUT, jdbcType=DECIMAL, javaType=Integer}
			)
		}
	</select>
	
	
	<select id="selectStaffListForCount"
			parameterType="java.util.Map"
			resultType="int">
		SELECT
			COUNT(*)
		FROM
			film_list
			
		<include refid="searchWords">
		</include>	
		
	</select>
	
	
	<select id="selectFilmList" 
			parameterType="java.util.Map"
			resultType="java.util.Map">
		SELECT 
			FID
			, title
			, category
			, price
			, rating
		FROM 
			film_list
		<include refid="searchWords">
		</include>
		<!-- 조건절이 order보다 앞에 있어야 됩니다 -->
		Order BY
			FID ASC 	
			
			
			
		
		
		LIMIT
			#{beginRow}, #{rowPerPage}	
	</select>

	
	
	<select id="selectFilmOne"
			parameterType="int"
			resultType="java.util.Map">
	
		SELECT
			FID 
			, title
			, description
			, category
			, price
			, rating
			, length
			, actors
		FROM
			film_list 
		WHERE
			FID = #{FID} 
	</select>
	
	<sql id="searchWords">
		<where>
			<if test="category != null and category != ''">
				AND category = #{category}
			</if>
			
			<if test="price != null and price != ''">
				AND price = #{price}
			</if>
			
			<if test="title != null and title != ''">
				AND title LIKE CONCAT('%', #{title}, '%')
			</if>
			
			<if test="actor != null and actor != ''">
				AND actor LIKE CONCAT('%', #{actor}, '%')
			</if>
			
			<if test="rating != null and rating != ''">
				AND rating = #{rating}
			</if>
		</where>
	</sql>
</mapper>