<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gd.sakila.mapper.PaymentMapper">
	<update id=" updatePaymentAmount"
			parameterType="Map">
		<selectKey resultType="Map" keyProperty="rentalId" order="BEFORE">
			SELECT 
				MAX(r.rental_id) rentalId
				, f.rental_rate rantalRate
			FROM rental r
				left join inventory i ON r.inventory_id = i.inventory_id
					left join film f ON i.film_id = f.film_id
			WHERE
				inventory_id= ${rentalId} AND return_date IS null
		</selectKey> 
		
		UPDATE
			payment (rental_id, amount, staffId)
			VALUES (${rentalId}, ${rentalRate+overdueDate}, 3)
	</update>

</mapper>